
body {
	background-color: white;
	background-image: url("../images/morse-code-1.jpg");
	background-repeat: 
	font-family: 'Josefin Sans', sans-serif;
}

header {
	background-color: grey;
}

.quizName h1 {
	color : white;
	text-align: center;
}

.newGame, .nextQuestion {
	background-color: grey;
	height: 3em;
	width: 10em;
	color: white;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border: 0.1px solid grey;
	border-radius: 1em;
	cursor: pointer;
}

.newGame > h4{
	margin-left: 1em;
}

.questions {
	background-color: black;
	height: 6em;
	width: 40em;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	box-sizing: border-box;
	border: 0.1px solid black;
	border-radius: 1em;
}

.questions > h2 {
	position: relative;
	left: 0.4em;
	color: white;
}

#progress, #answer {
	background-color: gold;
	width: 7em;
	height: 20em;
	text-align: center;
}

h6 {
	color: white;
}

.optionsBox {
	background-color: white;
	display: table;
	height: 20em;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	box-sizing: border-box;
	border: 0.1px solid white;
	border-radius: 1em;
}

#welcomeMsg, #endMsg {
	text-align: center;
	
}

.options , .options2 {
	display: table-row;
}

._1, ._2, ._3, ._4 {
	display: inline-block;
	cursor: pointer;
}

.infos {
	position: absolute;
}

#progress {
	float: left;
	 
}

#answer {
	float: right;
}